<div class="container">
	<div class="row">
		{% for post in posts %}
		<div class="col-sm-12 col-md-6 col-lg-4 my-4">
			<div class="card">
				<img class="card-img-top" src="{{ post.picture }}" alt="Post Picture">
				<div class="card-body">
					<div class="d-flex justify-content-start status-container">
						<div class="status">
							<input type="checkbox" name="emoji" id="smile">
							<label for="smile" class="icon icon-smile"></label>
							<span>2</span>
						</div>
						<div class="status">
							<input type="checkbox" name="emoji" id="shocked">
							<label for="shocked" class="icon icon-shocked"></label>
							<span>2</span>
						</div>
						<div class="status">
							<input type="checkbox" name="emoji" id="sad">
							<label for="sad" class="icon icon-sad"></label>
							<span>2</span>
						</div>
					</div>
					<div class="d-flex justify-content-between mt-2">
						<div>{{ post.user.username }}</div>
						<div>{{ post.updated_at }}</div>
					</div>
					<h3>{{ post.title }}</h3>
					<p>{{ post.content }}</p>
					<form action="{{ url_for('donations.new_donation') }}">
						<!-- <button>class="btn btn-primary">Donate</button> -->
						<input type="submit" value="Donate" class="btn btn-primary">
					</form>

					<script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
					<script>
						var form = document.querySelector('#payment-form');
						var client_token = '{{ client_token }}';
						braintree.dropin.create({
							authorization: client_token,
							container: '#bt-dropin'
							// paypal: {
							//	flow: 'vault'
							//}
						}, function (createErr, instance) {
							form.addEventListener('submit', function (event) {
								event.preventDefault();
								instance.requestPaymentMethod(function (err, payload) {
									if (err) {
										console.log('Error', err);
										return;
									}
									// Add the nonce to the form and submit
									document.querySelector('#nonce').value = payload.nonce;
									form.submit();
								});
							});
						});
					</script>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>