<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

	{% assets "home_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css//icomoon/style.css')}}">


	{% block header %}{% endblock %}
	<title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>

<body>
	{% include "navbar.html" %}
	{% if current_user.is_anonymous %}
	<div class="jumbotron bg-dark">
		<div class="text-white">
			<div class="text-center">
				<h1 class="display-4">Welcome to NEXTAGRAM</h1>
				<p class="lead">This is a fun site where excitement get shared</p>
			</div>
			<hr class="my-4">
			<p>
				Aliqua ad officia non eu id velit eu eiusmod sunt ea in adipisicing. Amet sit cillum minim in irure non cupidatat ad elit aliquip cupidatat. Qui culpa consectetur adipisicing magna aliquip est do dolor id deserunt. Ipsum id voluptate esse deserunt consequat duis. Sit mollit aute nulla magna consequat eu.
			</p>
			<p>
				Dolor sint reprehenderit tempor anim nostrud non. Velit et irure anim id aute nulla aliqua dolor culpa ex. Consequat adipisicing ullamco do pariatur sunt magna adipisicing excepteur aliquip.
			</p>
			<p class="lead d-flex justify-content-around mt-4">
				<a class="btn btn-outline-primary btn-lg" href="{{ url_for('users.display_login') }}" role="button">Log In</a>
				<a class="btn btn-outline-success btn-lg ml-4" href="{{ url_for('users.display_register') }}" role="button">Sign Up</a>
			</p>
		</div>
	</div>
	{% endif %}
	<div class="text-center my-4">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<div class="flashes">
			{% for category, message in messages %}
			<strong class="alert alert-{{category}} alert-dismissible fade show" role="alert">{{ message }}<button type="button"
				 class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button></strong>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	</div>
	<div class="container">


		{% block content %}
		{% endblock %}
	</div>
	{% assets "home_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>